@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';

html {
  overflow-y: scroll;
}


body {
  background-color:white;
  color:rgb(0, 0, 0);
  position: relative;
  font-family: 'Space Grotesk', sans-serif;
  padding: 0px;
  margin: 0px
}

p{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  text-align: justify;
}
h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 1.0rem;
}




