@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';

html {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 1.9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1DB9D8;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body {
  background-color:white;
  color:rgb(0, 0, 0);
  position: relative;
  font-family: 'Space Grotesk', sans-serif;
  padding: 0px;
  margin: 0px
}

p{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  text-align: justify;
}
h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 1.0rem;
}

.castMovies{
  scrollbar-width: thin;
  scrollbar-color: #d95f07 #ffffff00;
  border:none !important;
}



/* Estilos personalizados para la barra de desplazamiento horizontal */
.scrollbar-horizontal {
  scrollbar-color: blue-500 blue-200; /* Cambia los colores según tus preferencias */
}

/* Estilos para el pulgar (parte arrastrable) de la barra de desplazamiento horizontal */
.scrollbar-horizontal::-webkit-scrollbar-thumb {
  background-color: #3B82F6; /* Cambia el color del pulgar */
}

/* Estilos para la pista (parte no arrastrable) de la barra de desplazamiento horizontal */
.scrollbar-horizontal::-webkit-scrollbar-track {
  background-color: #BFDBFE; /* Cambia el color de la pista */
}
